#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
}

:root {
  background-color: hsl(211, 36%, 59%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
